body{
  background-color: #124B67;
  padding: 50px;
}
h4{
  color:#000;
  padding: 20px;
}
.quote-box{
  position: absolute;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 600px;
  height: 300px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#quote{
  font-size: 22px;
  font-weight: bold;
}
 #quote:before{
  font-family: "FontAwesome";
  content: '\f10d';
}
#author{
   font-size: 16px; 
}
.new-quote{
  position: absolute;
  color: #fff;
  margin:20px;
  right: 0;
  bottom: 0;
}

.share{
  position: absolute;
  color: #fff;
  left: 15px;
  bottom: 0;
  margin: 20px;
}

button:hover{
  opacity: 0.7;
}